<h2>Snippet Details</h1>

<div class="container-fluid">
  <br/>
  <div class="row">
    <div class="col-sm-3">

      <p>
        <strong>Name:</strong>
        <%= @snippet.name %>
      </p>

      <p>
        <strong>Content:</strong>
        <%= @snippet.content %>
      </p>

      <p>
        <strong>User:</strong>
        <%= @snippet.user.username %>
      </p>
    </div>
    
    <div id="snippet_content" class="col-sm-9">
      <%= render 'snippet_content' %>
    </div>
  </div>
    
  <div class="row">
    <div class="col-sm-12">
      <%= link_to 'Edit', edit_snippet_path(@snippet), class: 'link-btn-md' %>
      <%= link_to 'Execute', execute_snippet_path(@snippet), remote: true, class: 'link-btn-md' %>
      <%= link_to 'Back', snippets_path, class: 'link-btn-md' %>
    </div>
  </div>
    
</div>


